{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_cate_details'|trans({'%id%': cate.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_cate_details'|trans({'%id%': cate.id|default('')}) }}</h1>
    {% if cate is defined and cate|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ cate.id }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  cate.title }}</dd>

        </dl>


        <p>
            <a href="{{ url('cate_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}