{% extends 'base.html.twig' %}
{% block title %}
    {{ 'title_event_list'|trans }}
{% endblock %}
{% block body %}
    <h1>{{ 'title_event_list'|trans }}</h1>



    <div> <form action="{{ path('event_index') }}" method="get">
            <label for="event_cate">{{ 'cate_filter'|trans }}</label>
            <input name="event_cate" type="text">
            <button type="submit" class="btn- btn-default btn-sm">{{ 'filter'|trans }}</button>
        </form>
    </div>


    {% if pagination is defined and pagination.items|length %}






        <table class="table table-striped">
            <thead>
            <tr>

                <th>{{ knp_pagination_sortable(pagination, 'label_date'|trans, 'e.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'e.title') }}</th>
                <th>{{ 'label_cate'|trans }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in pagination.items %}

                <tr>

                    <td>{{ event.date |date('d/m/y') }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.cate.title }}</td>
                    <td>
                        <a href="{{ url('event_edit', {id: event.id}) }}" title="{{ 'event_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                        <a href="{{ url('event_delete', {id: event.id}) }}" title="{{ 'event_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>

                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>




        <div>   <a href="{{ url('event_create')}}" >
                {{ 'event_create'|trans }}
            </a></div>




        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>






    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
        <div>   <a href="{{ url('event_create')}}" >
                {{ 'event_create'|trans }}
            </a></div>

    {% endif %}
{% endblock %}
