{% extends 'base.html.twig' %}
{% block title %}
    {{ 'title_catc_list'|trans }}
{% endblock %}
{% block body %}
    <h1>{{ 'title_catc_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <table class="table table-striped">
            <thead>
            <tr>

                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'c.title') }}</th>

                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for catc in pagination.items %}
                <tr>


                    <td>{{ catc.title }}</td>
                    <td>
                        <a href="{{ url('catc_edit', {id: catc.id}) }}" title="{{ 'catc_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                        {% if not catc.contact|length %}
                        <a href="{{ url('catc_delete', {id: catc.id}) }}" title="{{ 'catc_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



        <div>   <a href="{{ url('catc_create')}}" >
                {{ 'action_create'|trans }}
            </a></div>





        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>

        <div>   <a href="{{ url('catc_create')}}" >
                {{ 'action_create'|trans }}
            </a></div>


    {% endif %}
{% endblock %}
